.list__container {
    margin-top: 25px;

}

.item__container {
    width: 67%;
}
.item__title {
    padding: 10px ;
}
.item__flex {
    display: flex;

}
.item__save {
    display: flex;

}
.item__titleInput {
    padding: 10px 45px;

}
.item__saveInput {

}
.item__saveButton {
    margin-left: auto;
}
.item__edit {
    padding-left: 5px;
    border: none;
    background: none;
}
.item__save {
    width: 35px;
    height: 35px;
}
.item__change {
    margin-left: 35px;
}